ENVIRONMENT=production
SECRET_KEY=change_me
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost http://127.0.0.1
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=hello_django_prod
SQL_USER=hello_django
SQL_PASSWORD=hello_django
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=
DJANGO_AWS_S3_ENDPOINT_URL=
DJANGO_AWS_STATIC_ACCESS_KEY_ID=
DJANGO_AWS_STATIC_SECRET_ACCESS_KEY=
DJANGO_AWS_STATIC_STORAGE_BUCKET_NAME=
DJANGO_AWS_STATIC_S3_ENDPOINT_URL=
